<div class="admin-hd">
	<a href="/admin/login/logout">安全退出</a>
</div>
<ul class="admin-nav">
	<li class="hd item">欢迎来到<%=siteName%>管理后台</li>
	<li class="item">
		<a href="/admin/user" title="会员管理">会员管理</a>
		<!-- <ul class="subnav">
			<li><a href="/admin/user/add" title="添加会员">添加会员</a></li>
		</ul> -->
	</li>
	<li class="item">
		<a href="/admin/shop" title="餐店管理">餐店管理</a>
		<ul class="subnav">
			<li><a href="/admin/shop/add" title="添加餐店">添加餐店</a></li>
		</ul>
	</li>
	<li class="item">
		<a href="/admin/food" title="餐店管理">美食管理</a>
		<ul class="subnav">
			<li><a href="/admin/food/add" title="添加餐店">添加美食</a></li>
		</ul>
	</li>
	<li class="item">
		<a href="/admin/order" title="订单管理">订单管理</a>
	</li>
</ul>